*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: end center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  place-items: end center;
  gap: 30px;
  width: 1140px;
  margin: 266px 30px;
}

/* RESULT */
.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  z-index: 0;
  width: inherit;
  height: 100%;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

/* SEARCH */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
}

.search-form__textfield {
  display: inline-block;
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: .7;
  color: #fff;
  background-color: transparent;
  }

.search-form__fieldset-title {
  padding-bottom: 4px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}

.search-form__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  cursor: pointer;
}

/* /checkbox */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list{
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  min-width: 19px;
  min-height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 16px;
  height: 16px;
  margin: auto;
  background-color: #fff;
}

 /* /buttons */
.button {
  margin-top: 32px;
  border: 1px solid currentColor;
  padding: 6px 74px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
}

/* CONTENT_DETAILS */
.content__details {
  width: 100%;
  height: 100%;
}

/* /title */
.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  }

.content__accent {
  color: #545050;
}

/* /content_list */
.content__list {
  position: relative;
  z-index: 0;
  height: 294px;
  overflow-y: auto;
}

.content__list-item {
  max-width: 399px;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  text-transform: none;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-title {
  width: 200px;
  overflow: hidden;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}